body { margin: 0; }
canvas {width: 100%; height: 100%}
.title-bar {
    float: center;
    text-align: center;
    width: 100%;
    font-size: 75;
    background-color: #2125ff;
    color: #00eeff;
}
.column4 {
    float: left;
    text-align:center;
    width: 25%;
    font-size: 50;
    height: 200;
}
.column2 {
    float: left;
    text-align:center;
    width: 50%;
    font-size: 25;
    height: 200;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
img {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.name {
    font-size: 50;
}
.infotext {
    float: center;
    text-align: center;
    font-size: 50;
}
.body {
    float: center;
    text-align: center;
    font-size: 50;
}
.rotate180 {  
    -webkit-transform:rotate(180deg);  
    -moz-transform: rotate(180deg);  
    -ms-transform: rotate(180deg);  
    -o-transform: rotate(180deg);  
    transform: rotate(180deg);  
}  

.button_on {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.button_on:active {
    background-color: #eaff00; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.button_off {
    background-color: #ff0000; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.button_off:active {
    background-color: #eaff00; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}